body{
  margin: 0;
  background-color: #00FF00;
  font-family: 'Delfino';
  color: #A6A6A6;
}

#container{
  width: 547px; /* the width and height here are exact    */
  height: 87px; /* values that work with my twitch layout */
  background-color: #333333;
}

#img{
  padding: 10px;
  width: 67px;
  height: 67px;
  background-color: #111111;
}

#text{
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  padding-right: 10px;
  font-size: 67px;
}